.formFilter{
     margin-top: 60px;
     margin-left: 90px;
     input{
        width: 220px;
        height: 30px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     }
     button{
        width: 60px;
        height: 30px;
        background-color: white;
        font-family: sans-serif;
        text-decoration: none;
        color: gray;
        border: 1px solid gray;
        cursor: pointer;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     }
     button:hover{
        background-color:  rgb(139, 4, 4);
        color: white; 
     }
     p{
        margin-top: 50px;
        font-family: sans-serif;
        font-size: 18px;
        color: gray;
     }
}